<% if user_signed_in? %>
  <h1>　</h1>
  <div class="margin-left">
    <br><h3>登録者一覧</h3>
  </div>
  <% @users.each do |user| %>
    <div class="result">
    <%= link_to user.nickname, user_path(user) %>
    <% if user.results.any? { |result| result.created_at >= 12.hours.ago } ||
          user.reviews.any? { |review| review.created_at >= 12.hours.ago } %>
      <span class="new-label">NEW!</span>
    <% end %>
  </div>
  <% end %>
    <div class="margin-left">
    <br><h3>今後の試合予定</h3>
    　7月13日(土)西濃地区高校総体
  </div>
  <div class="margin-left">
    <br><h3>参考リンク</h3>
    <a href="https://www.gifu-riku.com/" target="_blank">　・岐阜陸上競技協会のHP</a><br>
    <a href="https://youtu.be/uuD-_ISA5pQ?si=BPCG3v1tbJjqOXI2" target="_blank">　・短距離マーカードリル動画</a>
  </div>

<% else %>
<br><br>　こちらは「Sprint Track Pro」と題した陸上競技チーム用のアプリです。<br>
　登録者は陸上競技の試合結果を投稿して記録ができ、試合や練習の振り返りを日記のような感覚で書けるものです。<br>
　以下の注意事項を守って、活用してください！<br><br>

　＜注意事項＞<br>
　①まず新規登録してください。名前はフルネームじゃなくてOK。誰か分かれば名字だけでもOK。<br>
　パスワードは自分が覚えられるものでお願いします。（外部漏洩の心配はありません）<br><br>

　②振り返りの投稿は自由にコメントが記述できますので、何か投稿があればぜひコメントしましょう！<br>
　ただし、登録している人は全員閲覧ができるので、人に見られてもよい内容に留めてください。<br>
　また、不適切と思われる表現があればすぐに削除しますし、誹謗中傷は絶対にやめてください。<br><br>

　③開発途中ですので、機能や表示を変える可能性があります。<br>
　また、投稿したデータが削除されてしまう可能性もあるので、その点はご了承ください。<br><br>

<% end %>